.main {
    background-color: white;
    display: grid;
}


.container {
    width: 500px;
    height: 100%;
    border: solid 1px red;
    border-radius: 10px 10px 10px 10px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
}

.Hello {
    font-size: 50px;
    color: white;
}

.MyName {
    color: white;

}

input {
    max-height: 20px;
}

.namearea {
    display: grid;
    height: 150px;
    justify-content: center;

  
}

.footer {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 100px;

}

.buttoncontainer {
    display: grid;
    grid-template-rows: 20% 20% 20%;
    justify-content: space-evenly;
}

.nameButton {
    max-height: 10px;
}

#namedisplay {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 40px;

}