.main {
    background-color: white;
    display: grid;
}


.container {
    width: 500px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 100px;
}

.namearea {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    height: 150px;
    justify-content: center;

  
}

.footer {
    display: flex;
    justify-content: center;
    background-color: red;
    height: 100px;

}